---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Bartys Tattoo - Kontakt">
    <p>
        Ahoj, tohle je můj <a href="https://www.instagram.com/bartystattoo/">instagram</a> kde se můžeš objednat!
    </p>
</BaseLayout>