---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Bartys Tattoo">
    <p>
        Vítej na oficiálních stránkách Bartys Tattoo. Poznej můj příběh, načerpej inspiraci z
        mého portfolia, nebo se mi rovnou ozvi a domluv si termín!
    </p>
</BaseLayout>