---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Bartys Tattoo - Merch">
    <h1><a href="https://tattoo-care.cz/unisex-tricko-moth-skull/">Objednej si triÄko!</a></h1>
</BaseLayout>