---

---

<nav>
    <ul>
        <li><a href="./">Úvodní stránka</a></li>
        <li><a href="./studio/"> Studio</a></li>
        <li><a href="./portfolio/"> Portfolio</a></li>
        <li><a href="./merch/"> Merch</a></li>
    </ul>
</nav>

<style>

    nav ul {
        list-style: none;
        margin: 0;
        padding: 20px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    nav a {
        text-decoration: none;
    }

</style>