---
import Header from '../components/Header.astro';

const {title} = Astro.props
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> {title} </title>
    <base href={import.meta.env.BASE_URL} />
</head>
<body>
    <Header />
    <main>
        <slot />
    </main>
</body>
</html>